services:
  - type: web
    name: n8n
    env: docker
    plan: starter
    branch: main
    region: frankfurt
    healthCheckPath: /
    disk:
      name: n8n_data
      mountPath: /home/node/.n8n
      sizeGB: 1
